services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bio-patrol
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data:rw
    networks:
      - bio-patrol-net

  mqtt-broker:
    image: eclipse-mosquitto:2.0
    container_name: bio-patrol-mqtt
    ports:
      - "1883:1883"
    networks:
      - bio-patrol-net

networks:
  bio-patrol-net:
    driver: bridge
